<%= form_for(@wazzup) do |f| %>
  <% if @wazzup.errors.any? %>
  <div id="errorExplanation" style= "color:red;">
    <h2>Hemos encontrado <%= pluralize(@wazzup.errors.count, "error") %> en el formulario</h2>
    <ul>
    <% @wazzup.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div>
    <%= f.label :name%>
    <%= f.text_field :name%>
  </div><br />
  <div>
   	<%= f.label :email %>
    <%= f.text_field :email%>
  </div><br />
   <div>
    <%= f.label :Who_are_you? %>
    <%= f.select :who, [ 'Comercio', 'Inversor', 'Otro']%>
    
  </div><br />
  <div>
    <%= f.label :Message %>
    <%= f.text_area :body,  :size => "20x10" %>
  </div><br />
  <div class="actions">
    <%= f.submit "Enviar mensaje"%>
  </div>
  <br />
<% end %>